<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="moviesDB"
         providerName = "System.Data.SqlClient"
         connectionString ="Server=IN-LT-17470;Database=MovieDatabase;User Id=sa;Password=Prescribing4Care;"/>
  </connectionStrings>
</configuration>